<div [ngClass]="'topnav ' + this.themeMode">
  <div class="topnav__icon">
    <a [routerLink]="['/home']">
      <img src="../../../assets/images/icon.png" height="50" width="50" />
    </a>
  </div>
  <div class="topnav__content">
    <mat-slide-toggle [(ngModel)]="this.isLight" (change)="toggleTheme()"></mat-slide-toggle>
    <a [routerLink]="['/public/auth/login']">Login</a>
    <a [routerLink]="['/book']">Book</a>
    <a [routerLink]="['/member']">Member</a>
    <a [routerLink]="['/reg']">Register</a>
    <!-- <a [routerLink]="['public/dinner']" >Dinner</a> -->
  </div>
</div>
